@import 'src/assets/scss/define';

.store-section {
  @extend %df;
  @extend %aic;
  @extend %c3;
  height: j(64);
  padding: 0 j(20);
  background-color: #fff;
  .iconfont {
    @extend %c3;
    font-size: j(18);
    margin-right: j(4);
  }
}
.store-name {
  @extend %df1;
  font-size: j(16);
}
.status {
  font-size: j(14);
  color: $color-primary;
}
.goods-section {
  @extend %df;
  @extend %fdc;
  background-color: #fff;
  padding: j(20);
}
.goods-group {
  @extend %df1;
  @extend %df;
}
.goods-group-inner {
  @extend %df;
}
.goods-name {
  @extend %df;
  @extend %fdc;
  @extend %c9;
  font-size: j(12);
  line-height: j(17);
  .name {
    @extend %c3;
    font-size: j(16);
    margin-bottom: j(10);
  }
}
.goods-image {
  width: j(80);
  height: j(80);
  margin-right: j(8);
  background-color: #f2f2f2;
}
.goods-info {
  @extend %df;
  @extend %aie;
  @extend %jcs;
  margin-top: j(8);
  .time {
    font-size: j(12);
    @extend %c9;
  }
  .other {
    @extend %df;
    @extend %fdc;
    align-items: flex-end;
  }
}
.goods-num {
  @extend %c9;
  font-size: j(12);
  line-height: j(17);
}
.goods-amount {
  @extend %tar;
  @extend %c3;
  margin-top: j(4);
  font-size: j(12);
  line-height: j(22);
  .amount {
    font-size: j(16);
    color: #dd0000;
  }
}
.operate {
  @extend %df;
  background-color: #fff;
  justify-content: flex-end;
  padding: j(20);
}
.operate-button {
  @extend %df;
  @extend %cp;
  @extend %aic;
  @extend %jcc;
  @extend %cfff;
  font-size: j(14);
  width: j(80);
  height: j(32);
  background-color: $color-primary;
}
