@import 'src/assets/scss/define';
page {
  background-color: #f2f2f2;
  @extend %h100;
}
.base-info {
  @extend %df;
  background-color: #fff;
  padding: j(20) j(10);
  .left {
    @extend %df;
    @extend %fdc;
    flex: 1;
    .price {
      color: $color-primary;
      line-height: j(22);
      font-size: j(16);
      &:first-letter {
        font-size: j(12);
      }
    }
    .name {
      font-size: j(20);
      margin-top: j(5);
    }
  }
  .share-button {
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %cp;
    @extend %jcc;
    @extend %c9;
    margin-left: j(10);
    font-size: j(12);
    line-height: j(17);
    background-color: inherit;
    border: none;
    outline: none;
    &::after {
      border: none;
    }
    .iconfont {
      @extend %df;
      @extend %aic;
      @extend %jcc;
      font-size: j(18);
      margin-bottom: j(8);
      width: j(28);
      height: j(28);
      color: $color-primary;
    }
  }
}
.other-info {
  background-color: #fff;
  margin-top: j(10);
}
.cell {
  @extend %df;
  align-items: flex-start;
  padding: j(10) j(20);
  font-size: j(14);
  line-height: j(20);
  .label {
    color: #999;
    width: j(60);
  }
  .value {
    flex: 1;
  }
}

.wow-fixed-bottom-content {
  padding: j(10) j(10) !important;
  height: j(48);
  justify-content: space-around !important;
  .icon {
    font-size: j(24);
    margin-right: j(10);
    margin-left: 0;
    @extend %pr;
    .badge {
      @extend %pa;
      @extend %cfff;
      @extend %df;
      @extend %aic;
      @extend %jcc;
      @extend %br50;
      top: j(-2);
      right: j(-10);
      font-size: j(10);
      width: j(16);
      height: j(16);
      background-color: $color-primary;
    }
  }
  .iconweixin {
    color: #07c160;
  }
  ._icon-cart {
  }
}

.operate-button {
  @extend %df;
  @extend %pr;
  @extend %aic;
  @extend %jcc;
  @extend %cp;
  @extend %h100;
  @extend %bsb;
  width: j(120);
  font-size: j(16);
  color: #fff;
  height: j(44);
  &.first-child {
    @extend %bw05;
    @extend %bwl;
    background-color: #f5b666;
  }
  &.last-child {
    @extend %cfff;
    background-color: #ec5952;
  }
}
