@import "~src/assets/scss/define";

.wrap {
  @extend %w100;
  @extend %h100;
  background-color: #f4f4f4;
}
.cell {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %cp;
  @extend %c3;
  height: j(48);
  font-size: j(12);
  &.active {
    background-color: #fff;
    border-left: j(3) solid $color-primary;
  }
}
