@import '~src/assets/scss/define';

.wrap{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    padding: j(32) j(50);
    &:after{
        @extend %df1;
        content: '';
        height: 1px;
        background-color: #ddd;
    }
    &:before{
        @extend %df1;
        content: '';
        height: 1px;
        background-color: #ddd;
    }
    &.loading{
        &:before,
        &:after {
            @extend %dn;
        }
    }
}
.inner{
    @extend %df;
    @extend %aic;
    @extend %c9;
    @extend %jcc;
    font-size: j(12);
    margin: 0 j(20);
}
.icon{
    width: j(40);
    height: j(40);
}
